<section class="sidebar-data-holder">
  <div class="spinner" role="spinner"><div class="spinner-icon"></div></div>
  <nav class="main-nav">
    <button class="nav-control"><i class="icon-hamburguer"></i></button>
    {% include "nav" %}
  </nav>
  <div class="logo">
    <a href="{{ site.url }}" title="Back to home">{{ site.title }}</a>
  </div>

  {% if site.author %}
    {% include "author" %}
  {% endif %}

  {% if site.social %}
    {% include "social" %}
  {% endif %}

  <footer id="main-footer">
    <p>Free <a href="http://sculpin.io" title="Try Sculpin" rel="external">Sculpin</a> theme designed by <a href="https://twitter.com/damianmuti" title="Go to @damianmuti's Twitter" rel="external">@damianmuti</a> and coded from <a href="https://mavimo.org" title="Go to @mavimo's Blog" rel="external">mavimo</a></p>
  </footer>
</section>
