<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{% for script in theme_paths("assets/js/vendor/jquery-1.10.2.min.js") %}
  <script>window.jQuery || document.write('<script src="{{ script }}"><\/script>')</script>
{% endfor %}

{% for script in theme_paths("assets/js/plugins/jquery.fitvids.js") %}
  <script src="{{ site.url }}{{ script }}"></script>
{% endfor %}

{% for script in theme_paths("assets/js/script.js") %}
  <script src="{{ site.url }}{{ script }}"></script>
{% endfor %}

<script async type="text/javascript" src="//apis.google.com/js/plusone.js?callback=gpcb"></script>
