<!DOCTYPE html>
<html lang="en">
  {% include "head" %}
  <body>
    <div id="main-content" role="main" class="pure-g-r">
      <aside id="main-sidebar" class="pure-u-1-2" style="background-image:url({{ site.cover }})">
        {% include "aside" %}
        {% include "after_aside" %}

        {% include "foot" %}
      </aside>
      <section id="main" class="pure-u-1-2">
        {% block content %}
        {% endblock %}
        {% include "after_content" %}
      </section>
    </div>
  </body>
</html>
