{% set summary_array =
    post.blocks.content
      |raw
      |striptags
      |split(' ')
%}
<article class="post">
  <header class="post-header">
    <h1><a href="{{ site.url }}{{ post.url }}" title="Read &quot;{{ post.title }}&quot;">{{ post.title }}</a></h1>
    <menu class="post-meta">
      <div class="post-meta-data"><i class="icon-datetime"></i> {{ post.date | date('jS') }}</div>
      {% if post.tags %}
        <div class="post-meta-data"> <i class="icon-tags"></i>
        {% for tag in post.tags %}
          {{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    </menu>
  </header>
  <div class="post-content">
    {{ summary_array|slice(0,50)|join(' ') }} &hellip;</p>
  </div>
  <a href="{{ site.url }}{{ post.url }}" class="button button-default button-keep-reading" title="Read &quot;{{ post.title }}&quot;">Keep reading &rarr;</a>
</article>
